<nav id="nav-bar">
  <a id="user-profile">
    <img
      id="user-image"
      src="https://github.com/amadeusantos.png"
      alt="biblioteca"
    />
    <div id="user-infor">
      <div class="infor">
        <span class="user-text">amadeusantos</span>
      </div>
      <div class="infor">
        <img
          id="gamescore"
          src="https://cdn-icons-png.flaticon.com/512/732/732161.png"
          alt="xbox"
        />
        <span class="user-text">682</span>
      </div>
    </div>
  </a>
  <div id="options">
    <a class="icones"><mat-icon svgIcon="ph-light:books" /></a>
    <a class="icones"><mat-icon svgIcon="ph-light:storefront" /></a>
    <a class="icones"><mat-icon svgIcon="ph-light:magnifying-glass" /></a>
    <a class="icones"><mat-icon svgIcon="ph-light:gear" /></a>
  </div>

  <div id="infor-pc">
    <mat-icon svgIcon="ph-light:microphone-slash" />
    <mat-icon svgIcon="ph-light:battery-high" />
    <span>{{ currentHour }}:{{ currentMinute }}</span>
  </div>
</nav>
