ul.projects {
  padding-top: 18%;
  // height: 300px;
  display: flex;
  gap: 12px;
  align-items: end;
}

a.project {
  display: flex;
  justify-content: center;
  align-items: end;
  width: 180px;
  height: 180px;
  border-radius: 8px;
  background-size: cover;
  background-position: center;
  transition: 0.5s;

}

span.title {
  display: none;
}

a.project:hover {
  width: 250px;
  height: 250px;
  border: 4px solid #2ca243;
  border-radius: 12px;
  margin-top: -70px;
  margin-bottom: -8px;
  transition: 0.5s;

  span.title {
    display: block;
    width: 100%;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
  }
  
  // main.backgroundImage {
  //   background-image: url('https://cdn2.unrealengine.com/04-fnbr-29-00-c5s2-social-trailerenvironmentstills-videostill3-3480x2160-3840x2160-9db37083d1a3.jpg');
  // }
}

